/* box shadow: x-axis y-axis blur color */
/* resetting the body padding and margin */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  box-sizing: border-box;
  /* padding and margin is not added to total weight and total height of element that we specified for a box*/ }

body {
  font-family: 'Lato', "Sans Serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 60px; }
  .heading-primary--main {
    display: block;
    font-size: 250%;
    font-weight: 500;
    margin-left: 33px;
    letter-spacing: 38px;
    /*
        animation-name: moveInLeft;
         animation-timing-function: ease-out; animation will start fast end slow
         animation-timing-function: ease-in; /* animation will start slow end fast
         animation-duration: 1s;
         */
    animation: moveInLeft 1s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 74%;
    font-weight: 700;
    letter-spacing: 7px;
    /* 
        can be written as oneline below
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out; */
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #f55b83, #ac0b35);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(5deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.5rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

/* ANIMATIONS */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px);
    /* bounced effects */
    /* transform: rotate(10deg) for spinning effects */ }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px);
    /* bounced effects */ }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -15vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(240, 19, 77, 0.8), rgba(79, 152, 202, 0.8)), url(../../assets/img/hero-img-2.jpg);
  background-size: cover;
  background-position: center;
  transform: skewY(4deg);
  margin-top: -4rem; }
  .section-features > * {
    transform: skewY(-4deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 30rem 0 30rem 0;
  margin-top: -10rem; }

.section-stories {
  position: relative;
  padding: 10rem 0; }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #f55b83, #ac0b35); }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(240, 19, 77, 0.8), rgba(79, 152, 202, 0.8)), url(../assets/img/hero-img-1.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80vh);
  /* the trapezium shape of the image */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80vh);
  /* the trapezium shape of the image */ }
  .header__logo-box {
    position: absolute;
    top: 40px;
    left: 40px; }
  .header__logo {
    height: 35px; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* making sure to align to the center of the box element */
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  /* 
    class^="col-" -> selecting class that has prefix col-
    class$="col-" -> selecting class that has suffix col-
    class*="col-" -> selecting class that has contain col-
    */ }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-3 {
    width: calc( ((100% - 2 * 6rem) / 3) * 2 +  6rem); }
  .row .col-2-of-4 {
    width: calc( ((100% - 3 * 6rem) / 4) * 2 +  6rem); }
  .row .col-3-of-4 {
    width: calc( ((100% - 3 * 6rem) / 4) * 3 +  2 * 6rem); }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 20px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  /* for smooth floating button effects*/
  position: relative;
  border: none;
  outline: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white:after {
    background-color: #fff; }

.btn--primary {
  background-color: #f0134d;
  color: #fff; }
  .btn--primary:after {
    background-color: #fff; }

.btn:after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .2s; }

.btn--animated {
  /* 
        can be written in oneline as below
        animation-name: moveToBottom;
        animation-duration: 1s;
        animation-timing-function: ease-out; 
        */
  animation: moveInBottom 1s ease-out .75s;
  animation-fill-mode: backwards;
  /* it will apply the 0% keyframe before the animations start useful for delayed animations */ }

.btn-text:link, .btn-text:visited {
  font-size: 1.5rem;
  color: #f0134d;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #f0134d;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #f0134d;
  color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.btn-text:active {
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.2); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    object-fit: cover;
    border-radius: 2rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 10;
    transition: all .2s; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 2rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  transition: transform .3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #f55b83, #ac0b35);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.offer-box {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .offer-box__side {
    height: 50rem;
    border-radius: 2rem;
    height: 50rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    overflow: hidden; }
    .offer-box__side--front {
      background-color: #fff; }
    .offer-box__side--back {
      transform: rotateY(180deg); }
      .offer-box__side--back--1 {
        background-image: linear-gradient(to right bottom, #f55b83, #ac0b35); }
      .offer-box__side--back--2 {
        background-image: linear-gradient(to right bottom, #8abadc, #2f719d); }
      .offer-box__side--back--3 {
        background-image: linear-gradient(to right bottom, #b0d088, #648836); }
  .offer-box:hover .offer-box__side--front {
    transform: rotateY(-180deg); }
  .offer-box:hover .offer-box__side--back {
    transform: rotateY(0deg); }
  .offer-box__picture {
    background-size: cover;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .offer-box__picture--1 {
      background-image: linear-gradient(to right bottom, #f55b83, #ac0b35), url(../../assets/img/act-4.jpg); }
    .offer-box__picture--2 {
      background-image: linear-gradient(to right bottom, #8abadc, #2f719d), url(../../assets/img/act-5.jpg); }
    .offer-box__picture--3 {
      background-image: linear-gradient(to right bottom, #b0d088, #648836), url(../../assets/img/act-6.jpg); }
  .offer-box__heading {
    color: #fff;
    font-size: 2.7rem;
    font-weight: 300;
    text-transform: uppercase;
    position: absolute;
    text-align: right;
    top: 14rem;
    right: 2rem; }
    .offer-box__heading--span {
      border-radius: 2rem;
      padding: 0.6rem 1.5rem;
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone; }
      .offer-box__heading--span--1 {
        background-image: linear-gradient(to right bottom, rgba(245, 91, 131, 0.8), rgba(172, 11, 53, 0.8)); }
      .offer-box__heading--span--2 {
        background-image: linear-gradient(to right bottom, rgba(138, 186, 220, 0.8), rgba(47, 113, 157, 0.8)); }
      .offer-box__heading--span--3 {
        background-image: linear-gradient(to right bottom, rgba(176, 208, 136, 0.8), rgba(100, 136, 54, 0.8)); }
  .offer-box__details {
    padding: 3rem; }
    .offer-box__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .offer-box__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .offer-box__details ul li:not(:last-child) {
          border-bottom: 1px solid #d1d1d1; }
  .offer-box__cta {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%); }
  .offer-box__price {
    text-align: center;
    color: #fff; }
    .offer-box__price--label {
      font-size: 1.4rem;
      text-transform: uppercase; }
    .offer-box__price--value {
      margin-bottom: 8rem;
      font-size: 6rem;
      font-weight: 100; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  height: 20rem;
  padding-top: 3rem;
  padding-left: 9rem;
  font-size: 1.5rem;
  transform: skewX(-12deg);
  overflow-y: auto;
  overflow-x: hidden; }
  .story__avatar {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    overflow: hidden; }
    .story__avatar img {
      border-radius: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.2);
      transition: all .2s; }
  .story__content {
    padding-right: 1rem;
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .2s ease; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover img {
    transform: scale(1);
    filter: blur(3px) brightness(80%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .2; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.book {
  background-image: linear-gradient(255deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 52%, transparent 50%), url(../../assets/img/act-7.jpg);
  background-size: 100%;
  border-radius: 2rem;
  height: 50rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-end; }
  .book__form {
    width: 52%;
    padding: 6rem; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #00C851; }
  .form__input:focus:invalid {
    border-bottom: 3px solid red; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  transform: translateY(-400%);
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-200%); }

.form__radio--group {
  width: 49%;
  display: inline-block; }

.form__radio--label {
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  padding-left: 5rem; }

.form__radio--button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #f0134d;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -.4rem;
  left: 0; }
  .form__radio--button:after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0134d;
    opacity: 0;
    transition: opacity .2s; }

.form__radio--input {
  display: none; }

.form__radio--input:checked + .form__radio--label .form__radio--button::after {
  opacity: 1; }

.form__btn {
  font-size: 1.5rem; }
