$color-primary: #ffb89a;
$color-primary-light: lighten(#ffb89a, 15%);
$color-primary-dark: darken(#ffb89a, 15%);
$color-secondary: #be9fe1cf;

$color-grey-dark: #777;
$color-white: #fff ;
$color-black: #000 ;