.footer {
    background-color: $color-grey-dark-3;
    padding: 10rem 0;
    font-size: 1.4rem;
    @include respond(tab-port) {
        padding: 8rem 0;
    }
    &__logo {
        &--box {
            text-align: center;
            margin-bottom: 8rem;
            @include respond(tab-port) {
                margin-bottom: 6rem;
            }
        }
        &--img {
            width: 15rem;
            height: auto;
        }
    }
    &__menu {
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        display: inline-block;

        @include respond(tab-port) {
            width: 100%;
            text-align: center;
        }
    }
    &__copyright {
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        width: 80%;
        float: right;

        @include respond(tab-port) {
            width: 100%;
            float: none;
        }
    }
    &__list {
        list-style: none;
        display: -webkit-box;
        display: flex;
    }
    &__item {
        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            color: $color-grey-light-1;
            text-decoration: none;
            display: inline-block;
            text-transform: uppercase;
            -webkit-transition: all .3s;
            transition: all .3s;
        }

        &:hover,
        &:active {
            color: $color-primary;
            -webkit-transform: scale(1.1);
                    transform: scale(1.1);
        }

    }
}