.header {
    position: relative;
    height: 95vh;
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba($color-primary, 0.8)), to(rgba($color-secondary, 0.8)));
    background-image: linear-gradient(to right bottom, rgba($color-primary, 0.8), rgba($color-secondary, 0.8));
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80vh);
    /* the trapezium shape of the image */
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80vh);
    /* the trapezium shape of the image */

    @include respond(phone) {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh);
    }

    &__logo-box {
        // & = .header
        position: absolute;
        top: 40px;
        right: 40px;
    }

    &__logo {
        height: 35px;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        /* making sure to align to the center of the box element */
        text-align: center;

    }
}