.menu {
    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-secondary;
        height: 7rem;
        width: 7rem;
        box-shadow: $btn-hover-box-shadow;
        border-radius: 50%;
        z-index: 2000;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
                justify-content: center;
        -webkit-box-align: center;
                align-items: center;
        cursor: pointer;
        position: fixed;

        @include respond(big-desktop) {
            top: 5rem;
            left: 6.5rem;
        }

        @include respond(tab-land) {
            top: 5rem;
            left: 6.5rem;
        }

        @include respond(tab-port) {
            position: fixed;
            bottom: 4rem !important;
            right: 4rem !important;
        }

        @include respond(phone) {
            position: fixed;
            bottom: 3rem !important;
            right: 3rem !important;
        }
    }

    &__background {
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        position: fixed;

        @include respond(big-desktop) {
            top: 5rem;
            left: 6.5rem;
        }

        @include respond(tab-land) {
            top: 5rem;
            left: 6.5rem;
        }

        background-image: -webkit-gradient(linear, left top, right bottom, from($color-primary-light), to($color-primary-dark));

        background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
        z-index: 999;
        -webkit-transition: -webkit-transform .5s cubic-bezier(0.86, 0, 0.07, 1);
        transition: -webkit-transform .5s cubic-bezier(0.86, 0, 0.07, 1);
        transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
        transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform .5s cubic-bezier(0.86, 0, 0.07, 1);

        @include respond(tab-port) {
            bottom: 4rem !important;
            right: 4rem !important;
        }

        @include respond(phone) {
            bottom: 3rem !important;
            right: 3rem !important;
        }
    }

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1001;
        text-align: center;
        opacity: 0;
        width: 0;
        -webkit-transition: all .5s cubic-bezier(0.86, 0, 0.07, 1);
        transition: all .5s cubic-bezier(0.86, 0, 0.07, 1);

    }

    &__list {
        @include absolute-center;
        list-style: none;
        width: 100%;

    }

    &__item {
        margin: 1rem;
    }

    &__link {
        display: inline-block;

        &:link,
        &:visited {
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            -webkit-transition: all .3s;
            transition: all .3s;
            background-size: 300%;
        }

        &:active,
        &:hover {
            color: $color-primary;
            background-position: 100%;
            -webkit-transform: translateX(1rem);
                    transform: translateX(1rem);
        }
    }

    // MENU ICON
    &__icon {
        position: relative;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-white;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            -webkit-transition: all .2s;
            transition: all .2s;
        }

        &::before {
            top: .8rem;
        }

        &::after {
            bottom: .8rem;
        }
    }

    &__button:hover &__icon::before {
        -webkit-transform: translateY(.2rem);
                transform: translateY(.2rem);
    }

    &__button:hover &__icon::after {
        -webkit-transform: translateY(-.2rem);
                transform: translateY(-.2rem);
    }

    // MENU BUTTON CLICK TRIGGER
    &__checkbox:checked~&__background {
        -webkit-transform: scale(50);
                transform: scale(50);
    }

    &__checkbox:checked~&__nav {
        opacity: 1;
        width: 100%;
    }

    &__checkbox:checked+&__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked+&__button &__icon::before {
        top: 0;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
    }

    &__checkbox:checked+&__button &__icon::after {
        top: 0;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
    }

}