
.book {
    background-image: linear-gradient(
        255deg,
        rgba($color-white, .8) 0%,
        rgba($color-white, .8) 52%,
        transparent 50%,
    ),
    url(../../assets/img/act-7.jpg);
    background-size: 100%;
    @include tall-card;
    display: flex;
    justify-content: flex-end;
    &__form {
        width: 52%;
        padding: 6rem;
    }
}