.book {
    background-image: linear-gradient(255deg,
            rgba($color-white, .8) 0%,
            rgba($color-white, .8) 52%,
            transparent 50%,
        ),
        url(../../assets/img/act-7.jpg);
    background-size: 100%;
    background-size: cover;
    background-position: top;
    @include tall-card;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
            justify-content: flex-end;

    @include respond(tab-land) {
        background-image: linear-gradient(105deg,
                rgba($color-white, .9) 0%,
                rgba($color-white, .9) 65%,
                transparent 65%),
            url(../../assets/img/act-7.jpg);
        background-size: cover;
    }

    @include respond(tab-port) {
        background-image: -webkit-gradient(linear,
                left top, right top,
                from(rgba($color-white, .9)),
                to(rgba($color-white, .9))),
            url(../../assets/img/act-7.jpg);
        background-image: linear-gradient(to right,
                rgba($color-white, .9) 0%,
                rgba($color-white, .9) 100%),
            url(../../assets/img/act-7.jpg);
    }

    &__form {
        width: 52%;
        padding: 6rem;

        @include respond(tab-land) {
            width: 65%;
        }

        @include respond(tab-port) {
            width: 100%;
        }
    }
}