.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 20px;
        display: inline-block;
        border-radius: 100px;
        transition: all 0.2s; /* for smooth floating button effects*/
        position: relative;

        border: none;
        outline: none;
        cursor: pointer;
    }
    &:hover {
        transform: translateY(-3px);
        box-shadow: $btn-hover-box-shadow;
        &::after { // & = .btn:hover::after
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active {
        transform: translateY(-1px);
        box-shadow: $btn-active-box-shadow;
    }
    &--white {
        background-color: $color-white;
        color: $color-grey-dark;
        &:after { // & = btn--white
            background-color: $color-white;
        }
    }
    &--primary {
        background-color: $color-primary;
        color: $color-white;
        &:after { // & = btn--white
            background-color: $color-white;
        }
    }
    &:after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .2s;
    }
    &--animated {
        /* 
        can be written in oneline as below
        animation-name: moveToBottom;
        animation-duration: 1s;
        animation-timing-function: ease-out; 
        */
        animation: moveInBottom 1s ease-out .75s;
        animation-fill-mode: backwards; /* it will apply the 0% keyframe before the animations start useful for delayed animations */
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: $btn-hover-box-shadow;
        border-radius: 2rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    &:active {
        box-shadow: $btn-active-box-shadow;
    }
}