.offer-box {
    -webkit-perspective: 150rem;
            perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 50rem;

    &__side {
        height: 50rem;
        @include tall-card;
        -webkit-transition: all .8s ease;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        overflow: hidden;

        &--front {
            background-color: $color-white;
        }

        &--back {
            -webkit-transform: rotateY(180deg);
                    transform: rotateY(180deg);

            &--1 {
                background-image: -webkit-gradient(linear, left top, right bottom, from($color-primary-light), to($color-primary-dark));
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }

            &--2 {
                background-image: -webkit-gradient(linear, left top, right bottom, from($color-secondary-light), to($color-secondary-dark));
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

            &--3 {
                background-image: -webkit-gradient(linear, left top, right bottom, from($color-tertiary-light), to($color-tertiary-dark));
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }

    &:hover &__side--front {
        -webkit-transform: rotateY(-180deg);
                transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
    }

    // FRONT SIDE STYLES
    &__picture {
        background-size: cover;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        height: 23rem;
        background-blend-mode: screen; // make the image to blend with bg color
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

        &--1 {
            background-image: -webkit-gradient(linear,left top, right bottom,from($color-primary-light),to($color-primary-dark)),url(../../assets/img/act-4.jpg),;
            background-image: linear-gradient(to right bottom,$color-primary-light,$color-primary-dark),url(../../assets/img/act-4.jpg),
        }

        &--2 {
            background-image: -webkit-gradient(linear, left top, right bottom, from($color-secondary-light), to($color-secondary-dark)), url(../../assets/img/act-5.jpg),;
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(../../assets/img/act-5.jpg),
        }

        &--3 {
            background-image: -webkit-gradient(linear, left top, right bottom, from($color-tertiary-light), to($color-tertiary-dark)), url(../../assets/img/act-6.jpg),;
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(../../assets/img/act-6.jpg),
        }
    }

    &__heading {
        color: $color-white;
        font-size: 2.7rem;
        font-weight: 300;
        text-transform: uppercase;
        position: absolute;
        text-align: right;
        top: 14rem;
        right: 2rem;

        &--span {
            border-radius: 2rem;
            padding: 0.6rem 1.5rem;
            box-decoration-break: clone;
            -webkit-box-decoration-break: clone;

            &--1 {
                background-image: -webkit-gradient(linear, left top, right bottom, from(rgba($color-primary-light, 0.8)), to(rgba($color-primary-dark, 0.8)));
                background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8));
            }

            &--2 {
                background-image: -webkit-gradient(linear, left top, right bottom, from(rgba($color-secondary-light, 0.8)), to(rgba($color-secondary-dark, 0.8)) );
                background-image: linear-gradient(to right bottom, rgba($color-secondary-light, 0.8), rgba($color-secondary-dark, 0.8) );
            }

            &--3 {
                background-image: -webkit-gradient(linear, left top, right bottom, from(rgba($color-tertiary-light, 0.8)), to(rgba($color-tertiary-dark, 0.8)));
                background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, 0.8), rgba($color-tertiary-dark, 0.8));
            }
        }
    }


    &__details {
        padding: 3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;
                }

            }
        }
    }


    &__cta {
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%, 50%);
                transform: translate(-50%, 50%);
    }

    &__price {
        text-align: center;
        color: $color-white;

        &--label {
            font-size: 1.4rem;
            text-transform: uppercase;
        }

        &--value {
            margin-bottom: 8rem;
            font-size: 6rem;
            font-weight: 100;
        }
    }
}