
/* resetting the body padding and margin */
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;box-sizing: border-box; /* padding and margin is not added to total weight and total height of element that we specified for a box*/
}
