
body {
    font-family: 'Lato', "Sans Serif";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: $color-grey-dark;
}


.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 60px;
    &--main { // & = .heading-primary
        display: block;
        font-size: 250%;
        font-weight: 500;
        margin-left: 33px;
        letter-spacing: $heading-primary-letter-space;
        @include respond(phone) {
            margin: 0 auto;
            letter-spacing: 1rem;
            // letter-spacing: $heading-primary-letter-space / 2;
        }
        /*
        animation-name: moveInLeft;
         animation-timing-function: ease-out; animation will start fast end slow
         animation-timing-function: ease-in; /* animation will start slow end fast
         animation-duration: 1s;
         */
        animation: moveInLeft 1s ease-out;
    }
    &--sub {
        display: block;
        font-size: 74%;
        font-weight: 700;
        letter-spacing: 7px;
        @include respond(phone) {
            margin: 0 auto;
            letter-spacing: 1.2rem;


        }
        /* 
        can be written as oneline below
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out; */
        animation: moveInRight 1s ease-out;
    }
}

.heading-secondary {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s; // the time for animations
    @include respond(tab-port) {
        font-size: 3rem;
    }

    @include respond(phone) {
        font-size: 2.5rem;
    }
    &:hover {
        transform: skewY(2deg) skewX(5deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color: $color-black, $alpha: .2) ;
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}